.chat-main
  .chat-main__group-info
    .main-header__leftbox
      .current-group
        = @group.name
      .menber-list
        Member:
        - @group.users.each do |user|
          %member
          = user.name
    

    =link_to edit_group_path(@group), class:"edit-btn" do
      .main-header__edit-btn 
        edit



  .chat-main__message-list
    = render @messages


  .chat-main__message-form
    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = icon('fas', 'image', class: 'icon')
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'
      
