.chat-side
  .side-bar_user-name
    .top-items
      .top-items__name
        = current_user.name   
      .top-items__icons
        =link_to new_group_path do
          =icon('far', 'edit', class: 'icon')
        = link_to edit_user_path(current_user) do
          = icon('fas', 'cog', class: 'icon')
            
       
             
  .side-bar__groups-list  
    - current_user.groups.each do |group|
      .group
        = link_to group_messages_path(group) do
          .group--group-name
            = group.name
          .group--latest-message
            = group.show_last_message


 
